/* Node form BEGINS */
div.form-type-radio,
div.form-type-checkbox {
    display: inline;
    margin-right: 20px !important;
}

.field-name-field-acceptance-criterias div.form-type-checkbox {
    display: block;
}

/* Node form ENDS */