body,
#site-slogan,
.ui-widget,
.comment-form label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* Header BEGINS */
#main {
    /*margin-top: 40px;*/
}

#name-and-slogan {
    margin: 0;
    padding: 15px 0 10px 15px;
}
#main-menu {
    clear: none;
    display: inline-block;
    float: left;
    padding-left: 100px;
}

#main-menu li {
    margin: 0;
}

#main-menu a {
    padding: 10px 30px;
    border-radius: 0;
}

#secondary-menu-links {
    margin: 17px 10px 0;
}

#main-menu-links li.right {
    /*float: right;*/
    /*margin-right: 20px;*/
}
/* Header ENDS */



/* Title line BEGINS */

h1#page-title {
    font-size: 1.5em;
    color: #3b3b3b;
    margin: 0.3em 0 1em;
}

ul.action-links {
    margin: 0;
    padding: 0 1em;
}
/* Title line ENDS */



.comment-form label,
.comment-form #edit-author--2 {
    display: none;
}

.comment-form .form-item .description {
    margin-left: 0;
    margin-top: 10px;
}

.views-field-field-priority,
.views-field-field-percentage-done,
.views-field-field-time-spent {
    width: 50px;
}

.views-field-field-expected-delivery,
.views-field-field-estimate {
    width: 120px;
}

.views-field-field-reference-type {
    width: 300px;
}

.views-field-nid {
    width: 20px;
}

.views-field-field-products-ref {
    width: 200px;
}

.views-field-field-request-stage {
    width: 80px;
}

.views-field-field-books-ref {
    width: 400px;
}

.views-field-field-story-stage {
    width: 250px;
}

.views-field-field-delivery-goal {
    width: 150px;
}

.views-field-field-users-ref{
    width: 150px;
}

.views-field-field-user-ref {
    width: 100px;
}

.views-field-type,
.views-field-field-type {
    width: 50px;
}

.content th,
.content td {
    height: 40px;
}

.view-doing td.views-field.views-field-view {
    padding: 0;
}

.view-doing td.views-field.views-field-view table {
    margin: 0;
}

.views-field-title a,
.views-field-title span.inline a {
    font-weight: bold;
}

/* View -Doing- BEGINS */
.view .child-indentation {
    display: inline-block;
    width: 20px;
}
/* View -Doing- ENDS */



/* Second sidebar views BEGIN */
.view-tasks div.views-field,
.view-request-children div.views-field {
    width: 100%;
}
.view-tasks div.field-content,
.view-request-children div.field-content {
    display: inline;
}
/* Second sidebar views END */



/* Views exposed form BEGIN */
.views-exposed-form label {
    display: block;
    float: left;
    line-height: 28px;
    margin-right: 5px;
}

.views-exposed-form div.views-widget {
    float: left;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
}

.views-exposed-form select.form-select {
    width: 200px;
}

.views-exposed-form .form-autocomplete {
    width: 300px;
}
/* Views exposed form END */



/* Breadcrumbs & action links BEGIN */
#breadcrumb {
    float:left;
}

.habibi-wrapper ul.action-links {
    float: right;
}

#breadcrumb a {
    font-size: 1.2em;
}

#breadcrumb .glue {
    font-size: 1.6em;
    margin: 0 0.5em;
}
/* Breadcrumbs & action links END */



/* Message overlay BEGINS */
hr.message-divider {
    margin: 1.5em 0;
}

/* Message overlay ENDS */



/* Messages views BEGINS */
.view-messages-mine .views-field-field-noted {
    width: 100px;
}

.view-messages-mine .views-field-timestamp {
    width: 200px;
}

.view-messages-mine p {
    margin: 0;
}



table .td-big-text {
    font-weight: bold;
}

table .td-small-text {
    color: #777;
}

.content th {
    height: 30px;
}

/* Percentage done block BEGINS */
#block-habibi-habibi-done .form-item-percentage {
    float: left;
    margin-right: 20px;
}

#block-habibi-habibi-done select {
    width: 150px;
}
/* Percentage done block ENDS */

/* Sidebar - time tracking BEGINS */
.sidebar-second .form-submit {
    width: 100%;
}
/* Sidebar - time tracking ENDS */

/* Habibi focus topbar */
.habibi-focus {
    margin: 10px;
    text-align: center;
}

.habibi-focus a {
    color: white;
    text-decoration: underline;
}

/* Header color tt tweaks  STARTS */
.tt_off #header {
    background-color: #E4000B;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b2000b), to(#e4000b));
    background-image: -moz-linear-gradient(-90deg, #b2000b, #e4000b);
}
/* Header color tt tweaks  ENDS */